/* navbar */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

html {
    font-size: 65%;
}

body{
    font-family: "Poppins", sans-serif;
    background-image:linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url(../img/Field.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 7.2%;

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    margin-left: 2%;
    width: 5%;
    padding: 0;
    margin: 0;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,nav a.active {
    color: skyblue;
    border-bottom: 3px solid skyblue;
}

/* section container */

.container {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;

}

.groups {
    background-color: black;
    height: 70vh;
    width: 100%;
    justify-content: center;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-bottom: 30px;
   
}

.groups img {
    height: 60vh;
    width: 50%;
    display: flex;
    margin-left: 2%;
    border-radius: 20%;
    border: 5px solid white;
}

.groups p{
    color: #fff;
    font-size: 2.2rem;
    text-align: justify;
    padding: 30px;
    align-items: center;
}



.groups2 {
    background-color: black;
    height: 70vh;
    width: 100%;
    justify-content: center;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-bottom: -3px;
   
}

.groups2 img {
    height: 60vh;
    width: 50%;
    display: flex;
    margin-left: 2%;
    margin-right: 3%;
    border-radius: 20%;
    transition: ease-in;
    border: 5px solid white;
}


.groups2 p{
    color: #fff;
    font-size: 2.2rem;
    text-align: justify;
    padding: 30px;
    align-items: center;
}



/* Footer */

.foots {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: white;
    opacity: 0.7;
    
}

.foots h3 {
    font-size: 2rem;
    margin-top: 2%;
    color: black;
}

