@import url('https://fonts.cdnfonts.com/css/unbounded');
@import url('https://fonts.cdnfonts.com/css/huntesla-gloficka');
                

/* header/navbar */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

html {
    font-size: 65%;
}

body{
    font-family: "Poppins", sans-serif;
    background-image:linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url(../img/Image2.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 7.2%;

    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    border-radius: 50%;
    margin-left: 2%;
    width: 5%;
    padding: 0;
    margin: 0;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: transparent;
    filter: drop-shadow(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,nav a.active {
    color: skyblue;
    border-bottom: 3px solid skyblue;
}


/* section-container */


.top-t {
    display: block;
    margin: 110px;
    padding: 0;
}

.top-t h1 {
    align-items: center;
    justify-content: center;
    
    display: flex;
    font-size: 120px;
    font-family: 'Monserrrat' , sans-serif;
    
    color: transparent;
    -webkit-text-stroke: 2px white;
    transition: color 0.3s ease;
    cursor: pointer;
                                             
}

.top-t h1:hover,
.top-t h1:active{
    color: skyblue;
    
}

.top-t p {
    align-items: center;
    justify-content: center;
    color: #fff;
    display: flex;
    font-size: 40px; 
    margin-top: 2%;
    font-family: 'Huntesla Gloficka', sans-serif;
                                                
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin: auto;
    gap: 2rem;
    cursor: pointer;
}

.img-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 9px 19px 16px rgba(0, 0, 0, 0.51);
    
}

.img-container img {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.3s;
    transform: scale(1);
}

.overlay {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: black;
    opacity: 0;
    transition: 0.3 ease-in;
}

.img-container figcaption{
    position: absolute;
    z-index: 10;
    text-align: center;
    transition: all .3s ease-in-out;
    padding: 75px 40px;
    border: 5px solid rgba(255,255,255,0);
}

.img-container figcaption h1,
.img-container figcaption p {
    margin: 0;
    opacity: 0;
    transition: all .5s;
    color: white;
    letter-spacing: 2px;
}

.img-container figcaption h1 {
    font-size: 45px;
    transform: translate3d(0, -10px, 0);
    font-family: 'Times New Roman', Times, serif;
}

.img-container figcaption p {
    font-size: 19px;
    transform: translate3d(0, 10px, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-container:hover img {
    transform: scale(1.2);
    
}

.img-container:hover .overlay {
    opacity: 0.8;
}

.img-container figcaption:hover {
    transform: scale(1);
    border: 5px solid rgba(255, 255, 255);
    transition: 0.3 ease-in;
}

.img-container figcaption:hover h1,
.img-container figcaption:hover p {
    opacity: 1;
    transform: scale(1);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.btn a{
    display: flex;
    background: #fff;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 10px 30px;
    transition: 0.3s;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
}

.btn a:hover {
    background: grey;
    color: skyblue;
    letter-spacing: 0.15em;
    box-shadow: 0 0 25px black;
}

.btn a span {
    position: relative;
    z-index: 1;
}

/* footer */

.foots {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: white;
    opacity: 0.7;
    
}

.foots h3 {
    font-size: 2rem;
    margin-top: 2%;
    color: black;
}

/* Media Query for */

@media (max-width: 414px){
    body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url(../img/Image2.jpg);
    justify-content: center;
    flex-direction: column;
    align-items: center
    }

    nav a{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.4rem;
        margin-left: 2rem;
    }


    .sec {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .footer {
        flex-direction: column;

    }

    .top-t h1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 5%;
    }
    .top-t p {
        text-align: center;
        font-size: 3rem;
        
    }
}

/* media query with an and operator */
@media (min-width: 415px) and (max-width: 428px) {
    body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url(../img/Image2.jpg);
    justify-content: center;
    flex-direction: column;
    align-items: center
    }

    nav a{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.3rem;
        margin-left: 2rem;
    }

    .sec {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .container {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        flex: 1;

    }
    
    .top-t h1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 5%;
    }
    .top-t p {
        text-align: center;
        font-size: 3rem;
        
    }

    .foots h3 {
        font-size: 1.4rem;
    }

}